# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

sqlite.db

!uploads/kartu-mahasiswa/.gitkeep
!uploads/kartu-mahasiswa/.gitignore

!uploads/skripsi/.gitkeep
!uploads/skripsi/.gitignore

rsbuild.config.ts
ecosystem.config.cjs

# migration assets
/source-pdf/
/staging/

scripts/READY_TO_SEED_DATA.csv
scripts/READY_TO_SEED_DATA_WITH_FILENAMES.csv
scripts/SURAT-KETERANGAN-BEBAS-PUSTAKA-CLEANED.csv
scripts/READY_TO_SEED_DATA_WITH_TIMESTAMP.csv
scripts/seed-fresh-manual-review.csv
scripts/seed-timestamp-manual-review.csv